/* ----------------------------------------------------
 Base Styling.
*/

/* Font Tmports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');



* {
  margin: auto;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'open sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

header{
  width: 100%;
  height: auto;
}

main{
  width: 100%;
  height: auto;
}




/* ----------------------------------------------------
  Page content formating
  - secions
  - body text
*/


/*    Section formating       */
section{
  width: auto;
  height: auto;
  padding: 0px 20% 20% 20%;
  overflow: auto;
}

.light-background, .dark-background{
  padding-top: 200px;
}

.light-background{
  background-color: #fff;
  color: #333;
}

.dark-background{
  background-color: #333;
  color: #ccc;
}

@media screen and (max-width: 800px) { 
  section{
    padding: 0px 5% 50px;
  }
}

/*    Body text formating       */
h1 {
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  color: #333;
  margin-bottom: 50px;;
  border-bottom: 5px solid #EB6E44;
}

.dark-background h1{
  color: #ccc;
  margin-bottom: 50px;
}

p {
  font-size: 1.6em;
  font-weight: 300;
  padding: 25px 0px;
}

@media screen and (max-width: 1300px) { /* Mobile Text Formating */
  h1{
    font-size: 4em;
    color: #333;
  }
}

@media screen and (max-width: 800px) { /* Mobile Text Formating */
  h1{
    color: #333;
    text-align: center;
  }

  p{
    font-size: 3vw;
  }
}

@media screen and (max-width: 500px) { /* Mobile Text Formating */

  p{
    font-size: 4.5vw;
  }
}



/* ----------------------------------------------------
 Styling for navigation.
*/
nav {
  overflow: hidden;
  position: absolute;
  width: 100%;
}


nav .nav-links {
  font-family: 'Lato', sans-serif;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 28px 23px 26px 20px;
  text-decoration: none;
  font-size: 17px;
}

nav .nav-links:hover {
  /* color: #EB6E44; */
  color: #fff;
}

/*   Nav Link Border Hover Animation   */

.active {
  color: #EB6E44;
  border-bottom: 5px solid #EB6E44;
}

nav ul{
  list-style-type: none;
  margin: 0px 50px 0px 0px;
  padding: 0;
  float: right;
}

nav ul li{
  display: inline-block;
}

/* 
nav ul li .hamIcon {
  display: none;
  font-size: 25px;
} */

nav #ham-icon {
  display: none;
  font-size: 25px;
}

#ham-icon, 
#toggle {
  float: right;
  position: relative;
  z-index: 201;
}

#toggle {
  margin-top: 35px;
  display: none;
  
}


.nav-scrolled{ /* Sticky Navigation */
  height: 80px;
  position: fixed;
  background-color: rgb(19, 19, 19);
  animation-duration: .5s;
  animation-name: nav-scrolled;
  /* opacity: .9; */
}

.nav-scrolled-a {
  padding-top: 33px;
}

/*   Sticky Navigation Animation  */
@keyframes nav-scrolled {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0%;
  }
}

@media screen and (max-width: 1000px) { /* Mobile Navogigation */
  nav {
    margin: auto;
  }

  nav ul{
    float: none;
    padding: 0;
    margin: auto;
  }

  nav ul li{
    display: block;
  }

  #menu {
    display: none;
  }

  nav #ham-icon {
    display: block;
    /* padding: 19px 50px 0px 0px; */
    padding: 19px 30px 0px 0px;
    cursor: pointer;
    border-bottom: none;
    color: #EEE;
  }

  #ham-icon::before {
    content:'\002635';
    font-size: 1.6em;
    font-weight: 600;
  }

  main .logoArea {
    margin: 170px 0%;
  }

  #toggle:checked + #menu {
    display: block;
    background-color: rgb(253, 157, 125);
    color: #fff;
    z-index: 200;
    position: fixed;
    width: 100%;
    animation-duration: .8s;
    animation-name: nav-slide-in;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);

    /* display: block;
    background-color: rgb(255, 149, 113);
    color: #fff;
    z-index: 200;
    position: fixed;
    width: 90%;
    animation-duration: .8s;
    animation-name: nav-slide-in;
    border-radius: 0 0px 15px 0;
    border: solid 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46); */
  }

  /* #toggle:checked + #ham-icon {
    display: block;
    padding: 19px 30px 0px 0px;
    cursor: pointer;
    border-bottom: none;
    color: #EEE;
    position: fixed;
  } */

  #toggle:checked + .nav-links {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 35px 20px;
    border-bottom: none;
    z-index: 150;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
  }

  #toggle:not(:checked) + #menu {
    display: block;
    background-color: rgb(255, 137, 97);
    color: #fff;
    z-index: 200;
    position: fixed;
    width: 100%;
    margin-top: -100%;
    animation-duration: .8s;
    animation-name: nav-slide-out;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);

    /* display: block;
    background-color: rgb(255, 149, 113);
    color: #fff;
    z-index: 200;
    position: fixed;
    width: 90%;
    margin-left: -100%;
    animation-duration: .8s;
    animation-name: nav-slide-out;
    border-radius: 0 0px 15px 0;
    border: solid 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.46); */
  }

  nav .nav-links {
    padding: 29px 6vw 29px 20px;
  }

  nav .active {
    color: #fff;
    background-color: #EB6E44;
    border: none;
  }

  .nav-scrolled{ /* Sticky Navigation */
    animation: none;
  }

/* Mobile Navigation (Responsive Class Applied) */
  nav #menu {
    position: fixed;
    z-index: 100;
  }
}


/* ////////////////    Navigation sliding animations    ///////////// */
/*  Navigation slide out   */
@keyframes nav-slide-in {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0%;
  }
}
/*  Navigation slide in   */
@keyframes nav-slide-out {
  from {
    margin-top: 0%;
  }

  to {
    margin-top: -100%;
    display: none;
  }
}




/* ----------------------------------------------------
 Styling landing section main elements.
    - Logo
    - Social Icons
*/
#landing{
  background-image: url("../assets/zwartevilt.png");
  background-attachment: fixed;
  width: auto;
  height: 100vh;
  padding: 0px 20% 0px 20%;
  overflow: hidden;
}

/*      Logo Formating     */
.logoArea{
  margin: 270px 16%;
}

#logoMain{
  font-weight: bold;
  display: block;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #ccc;
  font-size: 3.5vw;
  margin: 0;
  border-bottom: none;
  animation-duration: 1.5s;
  animation-name: mainSlidein;
}

/*   logoArea Animation  */
@keyframes mainSlidein {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-right: 100%;
    width: 100%;
  }
}

/*          */

.lName{
  color: #EB6E44;
  display: inline;
  font-weight: 500;
}

#logoSub{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-left: 30%;
  color: rgb(192, 192, 192);
  font-size: 1.7em;
  animation-duration: 1s;
  animation-name: Subslidein;
}

/*   logoSub Animation  */
@keyframes Subslidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 30%;
    width: 100%;
  }
}

.blinking{
  animation:blinkingText 3s infinite;
  font-size: .3em;
  background-color: #EB6E44;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0;
}

@keyframes blinkingText{
	0%{		color: transparent;	}
	49%{	color: rgba(255, 255, 255, 0.89);	}
	50%{	color: rgba(255, 255, 255, 0.89);	}
	99%{	color: transparent;	}
	100%{	color: transparent;	}
}

@media screen and (max-width: 1300px) {  /* Mobile Logo Formating */
  #logoMain{
    text-align: left;
    font-size: 6em;
    margin: auto;
    margin: 0;
    border-bottom: none;
    animation: none;
  }

  #logoSub{
    text-align: left;
    margin-left: 10px;
    display: inline;
    font-size: 1.4em;
    animation: none;
  }
}

@media screen and (max-width: 800px) {
  .logoArea{
    /* margin-top: 130px; */
    margin-left: 5px;
  }
  
  #landing{
    padding: 20px 5%;
  }

  .blinking{
    border-radius: 15px;
  }
}

@media screen and (max-width: 500px) {  /* Mobile Logo Formating */
  .logoArea{
    margin-top: 130x;
    margin-left: 5px;
  }

  .social{
    margin-left: 200px;
  }

  #logoMain{
    font-size: 14vw;
  }

  #logoSub{
    font-size: 1.2em;
    margin-left: 5px;
  }
}




/*      Social Container Formating     */
.social{
  width: 100%;
  margin: 20px 0 0 5%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1300px) {  /* Mobile Social Icons Formating */
  .social{
    padding: 25px;
    margin: auto;
  }
}


/*      Social Icons Formating (ANIMATION)    */
.icons {
  color: #fff;
  font-size: 24px;
  margin: 0 5px;
	-webkit-opacity: 0.70;
	-moz-opacity: 0.70;
  -o-opacity: 0.70;
  opacity: 0.70;

  animation-name: iconFadein;
  animation-duration: 4.5s;
  animation-delay: 0s;

  -moz-animation-name: iconFadein; /* Firefox */
  -moz-animation-duration: 4.5s;
  -moz-animation-delay: 0s;

  -webkit-animation-name: iconFadein; /* Safari and Chrome */
  -webkit-animation-duration: 4.5s;
  -webkit-animation-delay: 0s;

  -o-animation-name: iconFadein; /* Opera */
  -o-animation-duration: 4.5s;
  -o-animation-delay: 0s;

}

.social a {
  border: solid 2px #fff;
  padding: 10px 14px;
  border-radius: 100%;
}

.icons:hover {
  opacity: 1;
	-webkit-opacity: 1; /* Safari and Chrome */
	-moz-opacity: 1; /* Firefox */
  -o-opacity: 1; /* Opera */
}

@keyframes iconFadein {
    from {opacity: 0; }

    to {opacity: 0.70; }
}

@-moz-keyframes iconFadein { /* Firefox */
   from {opacity: 0; }

   to {opacity: 0.70; }
}

@-webkit-keyframes iconFadein { /* Safari and Chrome */
   from {opacity: 0; }

   to {opacity: 0.70; }
}

@-o-keyframes iconFadein { /* Opera */
   from {opacity: 0; }

   to {opacity: 0.70; }
}


@media screen and (max-width: 1300px) {  /* Mobile Social Icons Formating */
  .icons{
    animation: none;
  }
}


/* ----------------------------------------------------
 Styling for About page
 - headShot
 - Bio
 - Skills List

*/
#aboutSection{
  text-align: center;
}

#headShot{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: solid #fff 5px;

  -webkit-box-shadow: -1px 1px 11px -1px rgba(0,0,0,2.3);
  -moz-box-shadow: -1px 1px 16px -1px rgba(0,0,0,0.30);
  -o-box-shadow: -1px 1px 16px -1px rgba(0,0,0,0.30);
  box-shadow: -1px 1px 16px -1px rgba(0,0,0,0.30);
  margin: 20px auto;

}

@media screen and (max-width: 800px) {  /* Mobile HeadShot */
  #headShot{
    height: 20vw;
    width: 20vw;
    border: solid #EEE 2.5px;
  }
}

.contentContainer{
  display: flex;
  flex-direction: row;
}

/*
Devicon color
*/
.skillIcon{
  color: #333;
  font-size: 75px;
  margin: 25px;
  display: inline-block;
}

.devIconList{
  padding: 0px;
}

.skillText{
  color: #333;
  font-size: 18px;
  font-family: "open Sans", sans-serif;
  display: block;
  margin-top: 10px;
}

.skillContent{
  text-align: center;
  height: 600px;
  width: 400px;
  margin-top: 45px;
  -webkit-box-shadow: -1px 1px 16px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: -1px 1px 16px -4px rgba(0,0,0,0.55);
  -o-box-shadow: -1px 1px 16px -4px rgba(0,0,0,0.55);
  box-shadow: -1px 1px 16px -4px rgba(0,0,0,0.55);
  border-radius: 10px;
}

#designBox{
  margin-right: 20px;
}

#techBox{
  margin: 45px 30px;
}

#frameworkBox{
  margin-left: 20px;
}

.aboutBanner{
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  background-color: #EB6E44;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.skillContent ul{
  list-style-type: none;
  text-align: center;
}

.skillContent ul li{
  font-size: 18px;
  padding: 10px;
}

.skillContent h2{
  color: #fff;
  font-weight: normal;
  margin-top: 18px;
  background-color: #EB6E44;
  background-size: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1500px) {  /* Mobile Skills List */

  .contentContainer{
    display: flex;
    flex-direction: column;
  }

  .skillContent{
    height: auto;
    margin: 30px auto;
  }

  #designBox, 
  #techBox, 
  #frameworkBox{
    margin: 30px auto auto auto;
  }
}

@media screen and (max-width: 1650px){
  .skillIcon{
    font-size: 55px;
  }
}

@media screen and (max-width: 600px){
  .skillContent{
    text-align: center;
    height: auto;
    width: 100%;
  }

  .skillIcon{
    font-size: 55px;
  }

  .aboutBanner h2{
    /* font-size: 5vw; */
  }
}





/*
  Syling for Projects section
*/
#projectsSection{
  background-image: url("../assets/prism.png");
  background-attachment: fixed;
}

#projectContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.project{
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 40px;
}

.project p{
  font-size: 1.2em;
}

.projectEx{
  height: auto; 
  max-width: 400px;
}

.desktop {
  width: 50%;
}

.projectDescript{
  text-align: left;
  padding-left: 40px;
}

.projectDescript h3 {
  font-size: 1.5em;
  color: #fff;
}

.projectDescript p a {
  color: rgb(0, 164, 170);
}

.projectLinks{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.technologies-icons i {
  font-size: 2em;
  margin: 5px 5px;
}

.projectButton{
  color: #fff;
  text-align: center;
  width: 100px;
  display: inline-block;
  background-color: #EB6E44;
  border: none;
  border-radius: 7px;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 0px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

.projectButton:hover{
  background-color: rgb(0, 164, 170);
  /* background-color: rgb(148, 67, 40); */
}

.projectButton:visited{
  color: #fff;
}

@media screen and (max-width: 1530px) {
  .project{
    flex-direction: column;
  }

  .projectEx {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) { 
  .project {
    display: block;
    margin: 40px 0;
  }

  .projectEx {
    max-width: 100%;
  }
}


@media screen and (max-width: 800px) { 
  .projectDescript{
    text-align: left;
    padding-left: 0px;
  }
  .projectDescript p{
    text-align: left;
  }

  .projectLinks{
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .projectButton{
    width: 80%;
    height: auto;
  }
  .projectLinks::before{
    margin: 10px;
  }
}


/* ----------------------------------------------------
 Styling for contact form
*/

.form {
	width: 100%;
  text-align: center;
}

input[type = text], [type = email] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type = submit], [type = reset] {
    width: 100px;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#company {
  width: 600px;
}

textarea {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #EB6E44;
}

input[type=reset]:hover {
    background-color: #EB6E44;
}

@media screen and (max-width: 1100px){
  #company, 
  textarea, 
  input[type = text], 
  input[type = email], 
  input[type = submit]{
    width: 100%;
    padding: 12px 5px;
  }
}













/* ----------------------------------------------------
 Styling for footer secion

*/

footer{
  width: 100%;
  height: auto;
  background-image: url("../assets/zwartevilt.png");
}


.footerContainer{
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.footerContent{
  width: 100%;
  height: auto;
  text-align: center;
}

.footerText{
  color: #ccc;
  font-size: 0.9em;
}

#footerSocial li{
  display: inline-block;
  padding: 0 10px;
}

.footerContent a{
  color: #ccc;
  text-decoration: none;
}

.footerContent a:hover{
  color: rgb(0, 164, 170);
  text-decoration: none;
}



@media screen and (max-width: 1000px){
    
}
